@page "/catalog"
@using OnlineStore.Components

@if (_products is null)
{
    <div>Страница загружается...</div>
}
else
{
    @foreach (var product in _products)
    {
        <div>
            <ProductItem Product="product"/>
        </div>
    }
}