@page "/catalog"
@inject ICatalog Catalog
@inject NavigationManager manager

@foreach (var product in _products)
{
    <div>@product.Title </div>
}

@code
{
    private List<Product> _products;

    protected override void OnInitialized()
    {
        _products = Catalog.GetProducts();
    }
}